@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1b1a1a;

    --card: #ffffff;
    --card-foreground: #1b1a1a;

    --popover: #ffffff;
    --popover-foreground: #1b1a1a;

    --primary: #1e2a38;
    --primary-foreground: #f7faff;

    --secondary: #e4ebf2;
    --secondary-foreground: #1e2a38;

    --muted: #e4ebf2;
    --muted-foreground: #737d86;

    --accent: #e4ebf2;
    --accent-foreground: #1e2a38;

    --destructive: #ff6666;
    --destructive-foreground: #f7faff;

    --border: #c8d2e6;
    --input: #c8d2e6;
    --ring: #1b1a1a;

    --link: #133e87;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1b1a1a;
    --foreground: #f7faff;

    --card: #1b1a1a;
    --card-foreground: #f7faff;

    --popover: #1b1a1a;
    --popover-foreground: #f7faff;

    --primary: #f7faff;
    --primary-foreground: #1e2a38;

    --secondary: #30363f;
    --secondary-foreground: #f7faff;

    --muted: #30363f;
    --muted-foreground: #a4a7ab;

    --accent: #30363f;
    --accent-foreground: #f7faff;

    --destructive: #992626;
    --destructive-foreground: #f7faff;

    --border: #30363f;
    --input: #30363f;
    --ring: #a8b3cf;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type='search']::-moz-search-cancel-button {
  display: none;
}

/* Microsoft Edge */
input[type='search']::-ms-clear {
  display: none;
}
